.container-admin {
    display: flex;
    flex-direction: row;
    margin-left: 43%;
    border-style: solid;
    width: 350px;
    height: 250px;
}

.admin-form {
    margin-top: 10%;
    margin-left: 19%;
}

.submit-btn {
    margin-left: 56px;
    margin-top: 25px;
}

