.message-customer {
	margin-left: 28%;
	margin-top: 3vh;
	resize: none;
	width: 45%;
	height: 300px !important;
}

.label-customer {
	margin-top: 3vh;
	margin-left: 47.5%;
	font: bold;
}

.textButton {
	margin-top: 5vh;
	margin-left: 48.2%;
}
