.modal-dialog{
    position: relative;
    display: table; /* <-- This makes the trick */
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;   
}
.message{
    display: flex;
    flex-direction: row;
}

.envelope {
	margin-top: 1%;
	margin-right: 1vh;
	font-size: 17px;
}

.envelope :hover {
	cursor: pointer;
}