.login-frame {
	background: Orange;
	margin: auto;
	width: 100%;
	max-width: 235px;
	height: 30rem;
	padding: 10px;
	border-radius: 50px;
	background-image: url('../images/background_orange.jpg');
	background-size: cover;
	box-shadow: 0px -10px 40px 30px rgb(221, 200, 187);
}

.myForm {
	max-width: 30%;
	width: 100%;
	padding: 10px;
}
.login-label {
	font-size: 15;
	margin-top: 5px;
	margin-left: 15px
}

.login-img {
	background-image: url('../images/avatar.png');
	background-size: cover;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 25%;
	width: 55%;
	border-radius: 50%;
	border-style: outset;
}

.btn {
	display: block;
	margin-left: 55px;
	margin-right: auto;
	width: 150px;
	background: #ff9933;
	border-radius: 25px;
	height: 50px;
	position: border;
	top: 50%;
	margin-top: -5px;
	background-image: url('../images/background_orange.jpg');
	background-size: cover;
	transition: all ease 0.5s;
}

.wrapper {
	text-align: center;
}

.myInput {
	border-radius: 10px;
	height: 40px;
	width: 430%;
}

.not-user{
	width: 200px;
	margin-left: 65px;
	margin-top: 5px;
}

.signup-link{
	margin-left: -5px;
}
.btn:hover {
	opacity: 0.7;
}
