.props2 {
	background: Orange;
	margin: auto;
	width: 100%;
	max-width: 235px;
	height: 30rem;
	border: 4px 4px 4px solid #5555;
	padding: 10px;
	border-radius: 50px;
	background-image: url('../../src/images/background_orange.jpg');
	background-size: cover;
	box-shadow: 0px -10px 40px 30px rgb(221, 200, 187);
}

.myForm {
	max-width: 30%;
	width: 100%;
	padding: 10px;
}

.img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 50%;
	border-style: ridge;
}

.btn {
	display: block;
	margin-left: 14px;
	margin-right: auto;
	width: 150px;
	background: #ff9933;
	border-radius: 25px;
	height: 50px;
	position: border;
	top: 50%;
	margin-top: -5px;
	background-image: url('../../src/images/background_orange.jpg');
	background-size: cover;
	transition: all ease 0.5s;
}

.btn:hover {
	opacity: 0.7;
}

.wrapper {
	text-align: center;
}

.myInput {
	border-radius: 10px;
	height: 40px;
	width: 430%;
}

.btn_signUp {
	margin-left: 56px;
	width: 100px;
	height: 35px;
	border-radius: 20px;
	background-image: url('../../src/images/background_orange.jpg');
	background-size: cover;
	transition: all ease 0.5s;
}

.btn_signUp:hover {
	opacity: 0.7;
}
