.img_logo {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	transition: ease 0.5s;
}

.navbar-custom {
	height: 64px;
	background-image: url('../images/nav-background.jpg');
	background-size: cover;
	box-shadow: 0px -10px 20px 20px rgb(223, 164, 87);
}

/* .h5-nav {
	font-size: 17;
	margin-right: 1vh;
	display: block;
} */

.navLink {
	color: rgb(99, 89, 47) !important;
	font-size: 20px;
	/* font-weight: inherit; */
	transition: all ease 0.5s;
	margin-top: 1vh;
}
.contact {
	width: 138px;
}

/* .navLink:hover {
	color: rgb(94, 82, 82);
	font-weight: bold;
	cursor: pointer;
	border: tomato;
	text-shadow: 0px 10px 5px #aaa396;
} */
.navLink:hover {
	color: rgb(94, 82, 82) !important;
	cursor: pointer;
	border: tomato;
	text-shadow: 0px 0px 5px #ad8888;
}

.user-menu {
	width: 30vh;
	margin-right: 4vh;
}

.welcome {
	font-size: 17px;
	opacity: 0.7;
}

.user-name {
	font-size: 17px;
	opacity: 0.9;
	color: #a52a2a;
}

.user-icon {
	font-size: 17px;
}

.cog {
	margin-bottom: 2%;
	font-size: 17px;
}

.envelope {
	margin-top: 1%;
	margin-right: 4%;
	font-size: 17px;
}

.envelope :hover {
	cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	margin-left: 5px;
	background-color: white;
	min-width: 290px;
	box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 1);
	z-index: 1;
	border-radius: 15px;
	border-color: orange;
	border-style: solid;
	padding: 7px 7px 7px 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: rgb(248, 165, 55);
	color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

.searchBar {
	display: flex;
	margin-left: 10px;
}
