.img_logo {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	transition: ease 0.5s;
}

.img_logo:hover {
	width: 210px;
	height: 205px;
	margin-left: -5px;
}
.navbar-custom {
	height: 64px;
	background-image: url('../images/nav-background.jpg');
	background-size: cover;
	box-shadow: 0px -10px 20px 20px rgb(223, 164, 87);
}

.logout_btn {
	margin-left: 15;
	margin-top: 5;
	margin-right: 3;
	font-weight: bold;
	border-radius: 15px;
	background-color: rgb(190, 162, 142);
	opacity: 0.5;
	transition: ease 0.5s;
	width: 80px;
	height: 40px;
}

.logout_btn:hover {
	opacity: 1;
	background-color: rgb(218, 90, 31);
}

.h5-nav {
	font-size: 17;
	margin-right: 10px;
}

.navLink {
	color: rgb(150, 140, 94) !important;
	font-size: 17px;
	font-weight: inherit;
	transition: all ease 0.2s;
}
.navLink:hover {
	color: rgb(94, 82, 82) !important;
	font-size: 17px;
	font-weight: bold;
	cursor: pointer;
	border: tomato;
	text-shadow: 0px 10px 5px #aaa396;
}

.welcome{
	font-size: 17px;
	opacity: 0.7;
}

.user-name{
	font-size: 17px;
	opacity: 0.9;
	color: #A52A2A;
}

.user-icon{
	margin-top: 10;
	font-size: 17px;
}

.search-input{
	border-radius: 25px;
	box-shadow: 2px 3px 3px black;
	margin-right:57%;
	height: 80%;
}

.search-input:focus{
	outline:none;
	box-shadow: 2px 3px 3px black !important;
	border-color: red !important;
}