.orders-table {
    width: 70%;
    margin: 2% 10% auto 10%;
}

.sort-by-btn {
    height: 25px;
    float: right;
    color: white;
    background-color: #007bff;
    border-radius: 30%;
    border-style: none;
}

.accept-btn {
    margin-left: 470px;
    border-radius: 12px;
    width: 100px;
    height: 45px;
}

th {
    background-color: #9ACBFB;
}