.package {
	width: 450px;
	height: 5rem;
	margin-top: 1%;
	background-color: #9ACBFB;
	position: relative;
	border-radius: 25px;
	margin-left: 34%;
}

.packageInput {
	margin-left: 2%;
	width: 220px;
	border-radius: 10px;
}

.wrraper {
	top: 31%;
	left: 47px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 80px;
}

.packageLabel {
	width: 130px;
	margin-right: 2px;
}

.h5-packages {
	margin-top: 1%;
	margin-left: 48%;
}

.package-container {
	margin-left: 50%;
}

.cards-container {
	margin-top: 2%;
	margin-bottom: 5%;
}

.card-body {
	padding: 1%;
	min-height: auto;
}

.card-link {
	padding-left: 30%;
	color: orange;
}

.card-link:hover {
	color: rgb(238, 184, 84);
}

.add-new-package-link {
	color: rgb(145, 94, 0);
}

.add-new-package-link:hover {
	color: rgb(209, 151, 42);
}

.update-button {
	margin-left: -81px !important;
	margin-bottom: 10px !important;
}
.delete-button {
	margin-left: -93px !important;
}

.myCard {
	border-radius: 25px;
	border-top-left-radius: 25px;
	width: 25rem;
	height: 45rem;
}

.myCardImage {
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	max-height: 400px;
	height: 250px;
}

.fa-star {
	float: right;
	color: rgb(255, 62, 4);
}
.rating {
	float: right;
}

.add-package-href, .add-package-href:hover {
	color:orangered;
}

.card-text {
	height:145px;
	overflow: scroll; 
	overflow-x: hidden;
}

.card-body {
	height: 8px;
}

.updrage-delete{
	display: flex;
	justify-content: space-evenly;
	margin-top:78px;
	margin-left:20px;
}

.delete-btn{
	margin-right: 20px;
	width:90px;
}

.upgrade-btn{
	margin-left: 20px;
	width:90px;
}

.mao-btn{
	margin-left:12px;
}

.anp-btn{
	margin-left: 250px;
	width:180px;
}